*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
.card{
    width: 300px;
    margin: 80px auto;
    border-radius: 5px;
    box-shadow: 5px 5px 10px gray;
}
.img{
    width: 100%;
    border-radius: 5px 5px 0 0;   
}
.content{
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}
.card-tittle{
    margin: 10px 0;
    color:#A60909;   
}
.card-paragraph{
    margin: 10px 0;
}
.cta{
    width: 100px;
    margin: 20px auto 10px;
    padding: 10px 15px;
    display: block;   
    color: #ffffff;
    background-color: #221F2F;        
    border-radius: 5px;
}
